<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/highlight.css">
	<link rel="stylesheet" href="/static/styles.css">
	<title>Ruse Scheme - {{ title }}</title>
    </head>
    <body>
	<div id="container" class="post">
	    {{ html | safe }}
	</div>
        <p>You might want to subscribe to the blog <a href="{{ base }}/feed.xml">feed</a>!</p>
        <p>Go back to the <a href="http://letloop.xyz">homepage</a></p>
        </blockquote>
    </body>
</html>
